[submodule "chatbot-user"]
	path = chatbot-user
	url = https://github.com/francoode/chatbot-microservices-containers
[submodule "chatbot-chats"]
	path = chatbot-chats
	url = ./chatbot-chats/
[submodule "chatbot-messages"]
	path = chatbot-messages
	url = git@github.com:francoode/chatbot-messages.git
